.userNameWrap{
	width:300px;
	height:150px;
	background-image:url(../img/loginBg.jpg);/*--put in some style to your form--*/
	background-repeat:no-repeat;
	padding:45px 0 0 5px;
	margin:10px auto  0 auto;
}
.userNameRow{margin:2px 0 2px 0;}
.userClassLeft{width:95px;float:left;color:#3366ff;}
.userClassRight{width:200px:float:left;}
.blueButtonBgClass{background-image:url(../img/buttBg.jpg);background-repeat:repeat-x;border:1px solid #cccccc;color:#ffffff;}
.normFormClass{font-size:11px;}
.errorFormClass{border:1px solid #0066FF;background-color:#FFCC99;font-size:11px;}
