/* classes that follow the default style... 
.navBarter      {  }
.navModerator   {  }
.navSales       {  }
*/

div { display:block; font-family: Geneva,Helvetica,Verdana,Arial,sans-serif; font-size: 100%; width: 200px; padding:5px; background-color:#000000;color:#ffffff; }
div a { background-color:#000000;color:#ffffff; }

.navAdmin       { background-color:#c10100;color:#000000; }
.navAdmin a     { background-color:#c10100;color:#000000; }
.navUser        { background-color:#c10100;color:#000000; }
.navUser a      { background-color:#c10100;color:#000000; }
.navAgent       { background-color:#c10100;color:#000000; }
.navAgent a     { background-color:#c10100;color:#000000; }

