<title>Race Pass Search</title>


<div style="width:700px;">
 <form action="race_pass_search_b.php" method="post">
 <input type="text" size="20" value="Find What?" name="find_this" />
<select name="exact_match">
<option value="0">Find anything that contains it</option>
<option value="1">Find EXACTLY what I input</option>
</select>
 <input class="submitButton" name="submit" type="submit" value="Find This!" />
 </form>
 
 
 
