

<form action="test_read.php" method="post">
driver_name <input name="driver_name" type="text" size="20"></input><br>
class_date <input name="class_date" type="text" size="20"></input><br>
pass_expires <input name="pass_expires" type="text" size="20"></input><br>
pass_num <input name="pass_num" type="text" size="20"></input><br>
<select name="race_pass">
  <option value="Adventure 10">Adventure 10</option>
  <option value="Adventure 20">Adventure 20</option>
  <option value="Adventure 40">Adventure 40</option>
  <option value="Adventure 10 VIP">Adventure 10 VIP</option>
  <option value="Adventure 20 VIP">Adventure 20 VIP</option>
  <option value="Adventure 40 VIP">Adventure 40 VIP</option>
  <option value="RaceWatch 10">RaceWatch 10</option>
  <option value="RaceWatch 20">RaceWatch 20</option>
  <option value="Legend-Arrive & Drive">Legend-Arrive & Drive</option>
  <option value="Bando-Arrive & Drive">Bando-Arrive & Drive</option>
  <option value="Competition Course 1">Competition Course 1</option>
  <option value="Competition Course 2">Competition Course 2</option>
  <option value="Legend-Comp Course 1">Legend-Comp Course 1</option>
  <option value="Legend-Comp Course 2">Legend-Comp Course 2</option>
  <option value="Bando-Comp Course 1">Bando-Comp Course 1</option>
  <option value="Bando-Comp Course 2">Bando-Comp Course 2</option>
  <option value="CorpSpecial-Adventure 15">CorpSpecial-Adventure 15</option>
  <option value="CorpSpecial-Adventure 25">CorpSpecial-Adventure 25</option>
  <option value="CorpSpecial-Adventure 30">CorpSpecial-Adventure 30</option>
  <option value="SuperRide"> SuperRide </option>
  <option value="SUWYG15"> SUWYG15 </option>
  <option value="SafeDriving"> SafeDriving </option>
</select>
<input type="submit" value="PDF"></input>
</form>